.row.justify-content-center
  .col-sm-10.col-md-8.col-lg-5
    .card
      .card-body
        %h2
          = title
        .row.justify-content-center
          =image_tag @organization.avatar.url(:medium)
        = simple_form_for @organization do |f|
          =f.input :name, label: "Name", placeholder: "Provide a name for organization",
          input_html: {autofocus: true,
            class: "form-control #{bootstrap_form_validation_class(@organization, :name)}"}

          =f.input :description, label: "Description", placeholder: "Write a short description(optional)",
          input_html: {autofocus: true,
            class: "form-control #{bootstrap_form_validation_class(@organization, :description)}"}

          =f.input :sphere, label: "Sphere", placeholder: "Sphere",
          input_html: {autofocus: true,
            class: "form-control #{bootstrap_form_validation_class(@organization, :sphere)}"}
          %br
          =f.input :avatar, as: :file
          %br
          =f.button :submit, class:"btn btn-success"
