= render layout: 'organizations/orgadmin_layout' do
  .card
    .card-header
      %h2
        = "Add users to #{@organization.name}"
    .card-body
      .row
        .col-md-5
          .card.bg-light
            .card-header Choose user by nickname
            .card-body
              = simple_form_for [@organization, Role.new] do |f|
                .input-group
                  = f.select :user_id, [], { include_blank: true }, class: "form-control form-control-sm select-users-to-organization"
                  = f.input_field :role, as: :hidden
                  .input-group-btn
                    = f.button :submit, 'Add', class: "btn btn-secondary btn-sm"
          %br
          .card.bg-light
            .card-header Or type user emails(separated by commas)
            .card-body
              = simple_form_for [:invite, @organization], method: :post do |f|
                .input-group
                  = text_field_tag :invites, nil, class: "form-control form-control-sm"
                  .input-group-btn
                    = f.button :submit, 'Add', class: "btn btn-secondary btn-sm"
          %br
          .card.bg-light
            .card-header Or upload .csv file with emails
            .card-body
              = simple_form_for [:invite_from_csv, @organization], method: :post, html: {multipart: true} do |f|
                = file_field_tag :csv, accept: 'text/csv'
                = f.button :submit, 'Upload', class: "btn btn-block btn-secondary btn-sm"
        .col-md-7
          #user_listing
            = render 'users_listing', users: @users, organization: @organization
= javascript_pack_tag 'select_users_to_organization'
